---
---

@import "normalize";

// =====================================================================
// Variables
// =====================================================================

// Breakpoints
$xs: 450px;
$mobile: 700px;
$tablet: 900px;

// Colors
$primary: #EC3B33;
$background: #252323;
$secondary: #948D8D;
$copy: #F6F6F6;

// Shadows & Gradients
$dark-shadow: 0px 2px 14px rgba(0,0,0,0.5);

// Layout
$header-height: 50px;


// =====================================================================
// Typography
// =====================================================================
html {
    font-size: calc(15px + 0.5vw);
    line-height: 1.4;
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;   
    color: $copy; 
}


.h1, .h2, .h3, .h4, .h5, .h6 {
    color: $primary;
    letter-spacing: 2px;
    margin: 0;
    padding: 0.5rem 0;
    text-transform: uppercase;
    line-height: 1;
    
}


a.h1, a.h2, a.h3, a.h4, a.h5, a.h6 {
    
    &:hover {
        text-decoration: none;
        color: $primary;
    }
}


.h1 {
    font-size: 2.5rem;
    font-family: 'Roboto Condensed', sans-serif;
    
    @media (min-width: $xs) {
        font-size: 3rem;
    }
    
    @media (min-width: $mobile) {
        font-size: 5rem;
    }
}

.h2 {
    font-size: 1.8rem;
}

.h3 {
    font-size: 1.25rem;
}

.h4 {
    font-size: 1.25rem;
    text-transform: none;
    font-family: 'Roboto Condensed', sans-serif;
}

.h5 {
    font-size: 1rem;
    text-transform: none;
    font-family: 'Roboto Condensed', sans-serif;
    color: $copy;
}

p {
    margin: 0;
}

p + p {
    margin-top:1rem;
}

a {
    transition: color 0.25s ease;
}

// =====================================================================
// Global Layout
// =====================================================================
* {
    box-sizing: border-box;
}

html {
    background: $background;
    min-height: 100%;
}

.frame-element {
    background: rgba(0,0,0,0.2);
    width: 100%;
    height: 50px;
    display: flex;    
}

.site-header {
    position: absolute;
    top: 0;
}

.site-header .social-container {
    margin-left: auto;
}

.site-title {
    margin: 0;
    padding: 6px 2px;
    font-size: 14px;
    line-height: 14px;
    font-weight: lighter;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    
    @media (min-width: $mobile) {
        padding: 15px 2px;
        font-size: 20px;
        line-height: 20px;
    }    
    
    a {
        text-decoration: none;
        color: $secondary;
        
        &:hover {
            color: $primary;
        }
    }    
}

.logo {
    display: block;
    padding: 4px;
    height: 100%;
    box-sizing: border-box;
    
    @media (min-width: $mobile) {
        padding: 12px;
    }    
}

.logo img {
    height: 100%;
}

.btn {
    padding: 0.25rem 1rem;
    border-radius: 1rem;
    
    color: $copy;
    background: $primary;
    
    text-transform: uppercase;
    text-decoration: none;
    margin: 1rem auto;
    
    font-weight: normal;
    font-size: 0.8rem;
    
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    transition: background-color 0.25s ease, color 0.25s ease;
}

.btn:hover {
    background-color: $copy;
    color: $primary;
}

.rounded-figure {
    margin: 2rem 0;
}

.rounded-figure img {
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: $dark-shadow;
}

figcaption {
    color: $secondary;
    font-size: 0.75rem;
    text-align:center;
}

.site-footer {
    background: rgba(0,0,0,0.2);
    padding: 2rem;
    margin-top: auto;
    text-align: center;
}


// Social icons
.social-container {
    display: flex;
    justify-content: end;
}
.social-link {
    display: block;
    width: 36px;
    height: 36px;
    margin: 7px 2px;
    
    background-size: 25px 25px;
    background-position: center;
    background-repeat: no-repeat;
    
    line-height: 0; 
    font-size: 0;
    color: transparent; 
    
    transition: background-image 0.5s ease;
}

.social-link.github {
    background-image: url("/img/icon-github.svg");
}
.social-link.github:hover {
    background-image: url("/img/icon-github_color.svg");
}

.social-link.medium {
    background-image: url("/img/icon-medium.svg");
}
.social-link.medium:hover {
    background-image: url("/img/icon-medium_color.svg");
}

// =====================================================================
// Projects
// =====================================================================
.projects {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center; 
    padding-bottom: 3rem;
    
    @media (min-width: $mobile) {
        flex-direction: row;
    }
}

.project {
    max-width: 15rem;
    margin: 3rem 3rem 0;
    text-decoration: none;
    
    img {
        width: 100%;
        max-height: 180px;
    }
    
    
    h2 {
        text-align: center;
    }
    
    p {
        text-align: center;
        color: $secondary;
    }
}

.project-logo {
    width: 100%;
    height: 180px;
    position: relative;
    background-repeat: no-repeat;
    background-size: 180px 180px;
    background-position: center center;
    // transition: background-image 0.2s ease-in-out;
    
    &:before, &:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: "";
        display: block;
        background-repeat: no-repeat;
        background-size: 180px 180px;
        background-position: center center;
        transition: opacity 0.5s ease;
    }
    
}

.project-logo.awardstack:before {
    background-image: url("/img/awardstack/icon_color.svg");
    opacity: 1;
}

.project-logo.simple-scales:before {
    background-image: url("/img/simple-scales/icon_color.svg");
    opacity: 1;
}

.project-logo.neutron:before {
    background-image: url("/img/neutron/icon_color.svg");
    opacity: 1;
}

@media (min-width: $mobile) {
    .project-logo.awardstack:before {
        background-image: url("/img/awardstack/icon.svg");
        opacity: 1;
    }
    
    .project-logo.awardstack:after {
        background-image: url("/img/awardstack/icon_color.svg");
        opacity: 0;
    }
    
    .project-logo.simple-scales:before {
        background-image: url("/img/simple-scales/icon.svg");
        opacity: 1;
    }
    
    .project-logo.simple-scales:after {
        background-image: url("/img/simple-scales/icon_color.svg");
        opacity: 0;
    }
    
    .project-logo.neutron:before {
        background-image: url("/img/neutron/icon.svg");
        opacity: 1;
    }
    
    .project-logo.neutron:after {
        background-image: url("/img/neutron/icon_color.svg");
        opacity: 0;
    }
    
    .project-logo:hover:before {
        opacity: 0;
    }
    
    .project-logo:hover:after {
        opacity: 1;
    }
    
}



// =====================================================================
// Home
// =====================================================================
.home-header {
    padding: 3rem;
    text-align: center;
}

.home-header p {
    color: $secondary;
}

html.home {
    background: $background;
    
    @media (min-width: $mobile) {
        background: url("/img/home_bg.png"), $background;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }    
}

.home-footer {
    position: fixed;
    bottom: 0;
    padding: 0 0.6rem;
    box-sizing: border-box;
    justify-content: flex-end;
}

// =====================================================================
// Project Page
// =====================================================================
.intro {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    padding: calc(50px + 1rem) 1rem 1rem;
    
}

.intro p {
    color: $copy;
    max-width: calc(300px + 30vw);
    margin: auto;
}

.intro img {
    height: 7rem;
    
    @media (min-height: 800px) {
        height: 10rem;
    }
}

.content {
    max-width: calc(500px + 30vw);
    margin: 3rem auto;
    color: $copy;
    padding: 3vw;
}

.content > section {
    margin-bottom: 3rem;
}

.content figure {
    margin: 2rem 0;
}


// =====================================================================
// Project Pages
// =====================================================================

// Awardstack
html.awardstack .project-page .intro {
    background: rgb(42,	32,	50);
    
    @media (min-width: $mobile) {
        background-image: url("/img/awardstack/intro.png");
        background-position: top center;
        background-size: 100% 100%;    
    }
}

// Simple Scales
html.simple-scales .project-page .intro {
    background: rgb(31,	31,	30);
    
    @media (min-width: $mobile) {
        background-image: url("/img/simple-scales/intro.png");
        background-position: top center;
        background-size: 100% 100%;
    }
}

.content > .column-figure {
    margin: auto;
    text-align: center;
    
    @media (min-width: $mobile) {
        margin: 0 1rem 1rem 0;
        float: left;
    }
}

// Neutron
html.neutron .project-page .intro {
    background: rgb(38,	40,	46);
    
    @media (min-width: $mobile) {
        background-image: url("/img/neutron/intro.png");
        background-position: top center;
        background-size: 100% 100%;    
    }
}

// =====================================================================
// Resume
// =====================================================================

html.resume {
    body {
        padding-bottom: 3rem;
    }
    
    header > strong {
        display: block;
    }
    
    main > * {
        margin: 1rem 0;
        padding: 1rem;
        
        @media (min-width: $mobile) {
            padding: 1rem 5rem;
        }
        
        @media (min-width: $tablet) {
            padding: 1rem 25vw;
        }
    }
    
    main > section:nth-child(even) {
        background: rgba(105,105,105,0.2)
    }
    
    .view-portfolio {
        display: inline-block;
        margin-top: 1rem;
    }
    
    @media print {
        background: #FFF;
        color: #000;
        
        .view-portfolio {
            display: none;
        }
        
        main > * {
            margin: 0.25cm 0;
            padding: 0.25cm;
        }
        
    }
    
}

// =====================================================================
// Utilities
// =====================================================================
.responsive-img {
    max-width: 100%;
    height: auto;
}

.hide-xs {
    @media (max-width: $xs - 1) {
        display: none !important;
    }
}

.show-xs {
    @media (min-width: $xs) {
        display: none !important;
    }
}

.show-print {
    @media screen, aural, braille, embossed, handheld, projection, tty, tv {
        display: none !important;
    }
} 