{% assign class = "" %}

{% if include.short %}
{% assign class = "short" %}
{% endif %}

<header class="site-header {{ class }}">

    <h1 class="site-title"><a href="{{ site.baseurl }}/">Christopher Muller</a></h1>

    <!-- <ul class="contact-list">
        {% if site.email %}
        <li>
        {% include social-email.html email=site.email %}
        </li>
        {% endif %}
        
        {% if site.github_username %}
        <li>
        {% include social-github.html username=site.github_username %}
        </li>
        {% endif %}

        {% if site.twitter_username %}
        <li>
        {% include social-twitter.html username=site.twitter_username %}
        </li>
        {% endif %}
    </ul> -->

</header>
