
html { 
    box-sizing: border-box; 
    background: #FAFAFA;
}
html * { box-sizing: inherit; }

body {
    max-width: 940px;
    margin: auto;
    padding-left: 8px;
    padding-right: 8px;
    font-family: #{$font-family}
}


%headings {
    color: #2E2E2E;
    font-weight: normal;
    margin: 0 0 15px;

    a {
        @extend %invert-link-hover;
    }
}

%headings + p {
    margin-top: 0;
}

h1 {
    text-align: center;
    margin: 0 0 30px;
    font-size: 70px;
}
h2 {
    font-size: 50px;
    // @extend %heading-underline;
}
h3 {
    font-size: 40px;
}
h4 {
    font-size: 25px;
}
h5 {
    font-size: 18px;
}

a {
    color: inherit;

    &:hover {
        text-decoration: none;
    }
}

.wrapper {

    @media (min-width: 800px) {
        display: flex;

        main {
            margin-right: 64px;
        }
    }
}


.site-footer {
    margin-bottom: 32px;
}

@media (max-width: 799px) {

    .site-sidebar {
        display: flex;
        justify-content: space-between;

        & > section {
            max-width: 400px;
            padding: 0 32px;

            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;
            }
        }
    }
}

@media (max-width: 540px) {

    .site-sidebar {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .about {
            order: 1;
        }
        .contact {
            order: 2;
        }

        & > section {
            
            padding: 0;
            width: 100%;
        }
    }
}

.site-sidebar .contact ul {
    @extend %invis-list;
}

// RESUME
.resume {
    .experience {
        h4, h5, p {
            margin-top: 0;
            margin-bottom: 0;
        }
        
        p {
            font-style: italic;
            font-size: 14px;
        }
        
        margin-bottom: 20px;
    }
}




