
body {
    max-width: 940px;
    margin: auto;
    padding-left: 8px;
    padding-right: 8px;
}


%headings {
    color: #2E2E2E;
    font-family: 'Arvo', serif;
    font-weight: normal;
    margin-bottom: 4px;

    & > a {
        @extend %style-link;
    }
}

%headings + p {
    margin-top: 0;
}

h1 {
    font-size: 46px;
}
h2 {
    // font-size: 46px;
}
h3 {
    // font-size: 46px;
}
h4 {
    // font-size: 46px;
}


article, section {
    h1 {
        font-size: 36px;
    }
}

.wrapper {

    @media (min-width: 800px) {
        display: flex;

        main {
            margin-right: 64px;
        }
    }
}

nav {
    text-align: center;

    ul > li {
        display: inline-block;
    }
}

.site-header {
    // border-bottom: 2px solid #BBB;
    text-align: center;
    margin-bottom: 60px;
    width: 100%;

    // a.site-title {
    //     text-decoration: none;
    // }
}

@media (max-width: 799px) {

    .site-sidebar {
        display: flex;
        justify-content: space-between;

        & > section {
            max-width: 400px;
            padding: 0 32px;

            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;
            }
        }
    }
}

.site-sidebar .contact ul {
    @extend %invis-list;
}

//
// Icons
//
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

// .wrapper > main {
//     flex: 2;

//     @media (max-width: 820px) {
        
//     }

// }

// .wrapper > aside {
//     flex: 1;

//     @media (max-width: 820px) {
        
//     }

// }
