$grey-color: rgb(130, 130, 130);
$font-family: 'Muli', Helvetica, arial, nimbussansl, liberationsans;


h1, h2, h3,
h4, h5, h6 {
    @extend %headings !optional;
}

%invis-list {

    padding-left: 0;
    margin: 0;
    & > li {
        list-style-type: none;
    }
}


%invert-link-hover {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

%heading-underline {
    &:after {
        content: "";
        height: 1px;
        width: 40%;
        display: block;
        margin: 16px auto 0;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0));
    }
}

.left {
    float: left;
}
.right {
    float: right;
}